.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    color:black
}
.products-container{
    margin-left: 80px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.cart-container{
    margin-left: 80px;
}