.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product-name{
    margin-top: 0px;
    margin-bottom: 2px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #0E161A;
}
.product-info{
    margin-left: 14px;
}
.product-info p {
    margin-top: 5px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border-top: 1px solid #95A0A7;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    color: black;
}
.btn-cart:hover{
    background-color: orange;
}